<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="s_dbEntities" connectionString="metadata=res://*/EntityModel.SabongEDM.csdl|res://*/EntityModel.SabongEDM.ssdl|res://*/EntityModel.SabongEDM.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=119.9.104.138;user id=sadb;password=Databa5e#0;Convert Zero Datetime=True;database=s_db;persistsecurityinfo=True&quot;;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>