<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="s_dbEntities" connectionString="metadata=res://*/EntityModel.SabongEDM.csdl|res://*/EntityModel.SabongEDM.ssdl|res://*/EntityModel.SabongEDM.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=119.9.94.86;user id=root;password=colourfade;Convert Zero Datetime=True;database=s_db;Integrated Security=True;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>